[submodule "Vendor/MagicalRecord"]
	path = Vendor/MagicalRecord
	url = https://github.com/magicalpanda/MagicalRecord.git
[submodule "Vendor/AFNetworking"]
	path = Vendor/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking
[submodule "Vendor/Dropbox"]
	path = Vendor/Dropbox
	url = https://github.com/dropbox/dropbox-sdk-obj-c
[submodule "Vendor/libid3-ios"]
	path = Vendor/libid3-ios
	url = https://github.com/pietbrauer/libid3-ios
