[submodule "Vendor/MagicalRecord"]
	path = iOS/Vendor/MagicalRecord
	url = https://github.com/magicalpanda/MagicalRecord.git
[submodule "Vendor/AFNetworking"]
	path = iOS/Vendor/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking
[submodule "Vendor/Dropbox"]
	path = iOS/Vendor/Dropbox
	url = https://github.com/dropbox/dropbox-sdk-obj-c
[submodule "iOS/Vendor/iOS/Vendor/mp3lame-for-iOS"]
	path = iOS/Vendor/mp3lame-for-iOS
	url = https://github.com/wuqiong/mp3lame-for-iOS
